# -----------------------------
# Security File
# -----------------------------
.env

# -----------------------------
# System & Environment Files
# -----------------------------
venv/
__pycache__/
*.pyc
.DS_Store
Thumbs.db
